.clock {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 30px rgb(33, 31, 31);
  font-size: 24px;
  color: #444;
  text-align: center;
}

.clock::after {
  background: rgb(95, 112, 116);
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid red;
}

.hour_hand {
  position: absolute;
  width: 6px;
  height: 60px;
  background: rgb(42, 41, 41);
  top: 33%;
  left: 49%;
  transform-origin: bottom;
}

.min_hand {
  position: absolute;
  width: 4px;
  height: 80px;
  background: #444;
  top: 27%;
  left: 49%;
  transform-origin: bottom;
}

.sec_hand {
  position: absolute;
  width: 2px;
  height: 110px;
  background: green;
  top: 18%;
  left: 49%;
  transform-origin: bottom;
}

.clock span {
  position: absolute;
  font-weight: 700;
}

.twelve {
  top: 10px;
  left: 46%;
}
.one {
  top: 10%;
  right: 26%;
}
.eleven {
  top: 10%;
  left: 26%;
}
.eleven {
  top: 10%;
  left: 26%;
}
.two {
  top: 25%;
  right: 10%;
}
.three {
  top: 46%;
  right: 10px;
}
.four {
  top: 67%;
  right: 30px;
}
.five {
  top: 77%;
  right: 78px;
}
.six {
  bottom: 10px;
  left: 50%;
}
.seven {
  top: 82%;
  left: 80px;
}
.eight {
  top: 67%;
  left: 30px;
}
.nine {
  top: 46%;
  left: 10px;
}
.ten {
  top: 25%;
  left: 10%;
}
